extends ../layout

block content
    h1 Create New
    form(action="/products/add",method="post")
        .form-group
            label(for="image") Course Name
            input#name(type="text", class="form-control", name="crName" required)
        .form-group
            label(for="id") Course Id
            input#id(type="number", class="form-control", name="id" required)
        .form-group
            label(for="duration") Course Duration(Hrs)
            input#duration(type="number", class="form-control", name="crDuration" required)
        .form-group
            label(for="fee") Course Fee(USD)
            input#fee(type="number", class="form-control", name="crFee" required)
        input(type="submit", class="btn btn-info")
    