extends ../layout

block content
    h1 Edit Course
    form(action="/products/edit/"+product._id,method="post")
        .form-group
            label(for="name") Course Name
            input#name(type="text", class="form-control", name="crName", value=product.crName)
        .form-group
            label(for="instrument") Course Id
            input#id(type="number", class="form-control", name="id", value=product.id)
        .form-group
            label(for="price") Course Duration(Hrs)
            input#duration(type="number", class="form-control", name="crDuration", value=product.crDuration)
        .form-group
            label(for="fee") Course Fee(USD)
            input#duration(type="number", class="form-control", name="crFee", value=product.crFee)
        input(type="submit", class="btn btn-dark")
    